<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>macOS Native Kit</title>
    <link rel="stylesheet" href="./../../dist/mac/all.css">
</head>
<body>
    <div class="window-vibrant">
        <div class="content">   
        </div>
    </div>
    <script src="./../../scripts/nativekit.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>