<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>macOS Native Kit</title>
    <link rel="stylesheet" href="./../../dist/mac/css/all.css">
</head>

<body>
    <div class="window">
        <header class="titlebar draggable">
            <h1 class="window-title">macOS Native Kit</h1>
            <div class="toolbars">
                <div class="button-group">
                    <button class="button button-default">
                        <i class="icon nk-left-open"></i>
                    </button>
                    <button class="button button-default">
                        <i class="icon nk-right-open"></i>
                    </button>
                    <button class="button button-default">
                        <i class="icon nk-home"></i>
                    </button>
                    <button class="button button-default button-active">
                        <i class="icon nk-folder"></i>
                    </button>
                    <button class="button button-default">
                        <i class="icon nk-cloud"></i>
                    </button>
                </div>

                <button class="button button-default">
                    <i class="icon nk-home icon-text"></i>
                    Filters
                </button>

                <div class="progress-circle progress-34"></div>

                <div class="dropdown pull-right">
                    <button name="demoDropdown" class="button button-default button-dropdown">
                        <i class="icon nk-megaphone"></i>
                    </button>
                    <div id="demoDropdown" class="dropdown-content dropdown-overflow">
                        <a id="shoutout">Shout Out</a>
                        <a id="support">Support</a>
                        <div class="dropdown-divider"></div>
                        <a id="awesomeness">Awesomeness</a>
                        <a id="about">About</a>
                        <a id="contact">Contact</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="progress-spinner" id="progress-spinner"></div>
        </div>
        <footer class="titlebar statusbar">
            <h1 class="window-title">Native Kit</h1>
        </footer>
    </div>
    <script src="./../../dist/mac/scripts/nativekit.js"></script>
    <script>
        var target = document.getElementById('progress-spinner');
        var spinner = new Spinner().spin(target);
    </script>
</body>

</html>